{% extends 'Layout/Mainlayout.html.twig' %}

{% block titlecontent %}Cars{% endblock %}

{% block headercontent %}
    <h2>Car created</h2>
{% endblock %}

{% block bodycontent %}
    {{ car.id }}
    {% include 'Car/CarShortView.html.twig' with {'Car' : car} %}
{% endblock %}