<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <title>Trains - Home</title>
</head>
<body>
<header>
    {% block headercontent %}{% endblock %}
</header>
{% block bodycontent %}{% endblock %}
<footer class="footer">
    manOfStorr
</footer>
</body>
</html>
