<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Trains - Home</title>
</head>
<body>
<header>
    <h1>Trains</h1>
</header>
{% for locomotive in locomotives %}
    <article>
        <h2>{{ locomotive.id }} {{ locomotive.serial }}</h2>
        <p>more...</p>
    </article>
{% endfor %}
<footer class="footer">
    manOfStorr
</footer>
</body>
</html>