{% extends 'layout/mainlayout.html.twig' %}

{% block headercontent %}
    <h1>Home</h1>
{% endblock %}

{% block bodycontent %}
    <article>
        <h2>Welcome</h2>

        <ul class="list-group">
            <label class="label label-primary">Topics</label>
            <li class="list-group-item">Pattern <span class="label label-info">MVC</span></li>
            <li class="list-group-item"><span class="label label-info">Iterator</span> => CarsCollection
                <ul>
                    <li>Le page cars/types liste dynamiquement tous les types de <em>cars</em></li>
                    <li>Construction de la sous-vue de navigation des types de <em>cars</em></li>
                    <li>Appel du CarsController qui utilise un iterator pour construire la collection de <em>cars</em>
                    </li>
                    <li>Construction de la vue collection de <em>cars</em></li>
                </ul>
            </li>
            <li class="list-group-item"></li>
        </ul>
    </article>
{% endblock %}