{% extends 'layout/mainlayout.html.twig' %}

{% block headercontent %}
    <h1>Home</h1>
{% endblock %}

{% block bodycontent %}
    <article>
        <h2>Welcome</h2>
        <p>more...</p>
    </article>
{% endblock %}